:root {
    --nw-color: #EB514E;
    --nw-light-color: #F16966;
  }
  

body {
    background-color: var(--nw-color);
}

.app-title {
    margin-top: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}
.page-content {
    max-width: 650px;
    margin: 40px auto;
    box-shadow: 3px 3px 5px rgba(65, 65, 65, 0.267);
}
.page-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-title img {
    width: 35px;
    margin: 20px;
}

.generate-button {
    background-color: var(--nw-color);
    color: white;
}

.generate-button:hover {
    background-color: var(--nw-light-color);
    color: white;
}

.download-button {
    background-color: white;
    color: var(--nw-color);
    border: 1px solid var(--nw-color);
}

.download-button:hover {
    background-color: #f4f4f4;
    color: var(--nw-color);
    border: 1px solid var(--nw-color);
}

.buttons-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;
}

.qr-canvas {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.qr-convas {
    width: 100% !important;
}

.form-check-input:checked {
    background-color: var(--nw-color);
    border-color: var(--nw-color);
}